/* @primaryColor: #002f4e;
@pageBackground: #eff0f1; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  min-height: 100vh;
  align-items: center;
}

/* main and nav */
.app > * {
  width: 95%;

  margin: auto;  
}

.main {
  display: flex;
  justify-content: center ;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 90vh;
  max-height: 100vh;
}

/* Children of main = sideBar and MainBody */
.main > * {
  /* height: 80%; */
  min-height: 85vh;
  max-height: 90vh;
  flex: 1 0 auto;
  /* display: flex;
  justify-content: center; */
}

.sideBar {
  min-height: 100%;
  max-width: 13%;
}

.sideBar > * {
  min-height: 90%;
  max-width: 95%
}

.mainBody {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  /* width: 79%; */
  max-width: 80%;
  /* height: 90%; */
}

/* CHILDREN OF MAIN BODY */

.mainBody > * {
  width: 95%;
  /* max-width: 78vw; */
  max-width: 96%;
  min-height: 50vh;
}

.login > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/* ancestors of the sched container */
.sched-container > * {
  /* min-height: 30%; */
  max-width: 95%;
}
.calendar {
  max-height: 70vh;
}
.session-form {
  width: 90%;
  height: 70%;
}

.client-trainer-select {
  width: 20vw;
}

.signup-segment {
  width: 30vw;
}

#schedule-menu{
  min-height: 8%;
}

.trainer-filter{
  width: 22%;
}

.new-session {
  color: black;
}
.no-show-session {
  color: red;
}
.scheduled-session {
  color: green;
}
.cancelled-session {
  color: red;
}

/* popup stuff */
.outer-popup{
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);
  z-index: 20;
}

.inner-popup {
  position: absolute;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  left: 15%;  
  right: 15%;  
  top: 15%;  
  bottom: 15%;  
  border-radius: 10px;  
  background: #eff0f1;
}



/*misc individual stuff */
form {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings-segment {
  width: 95%;
}

.myloader {
  min-height: 30vh;
}